node_modules
*.js
*.d.ts
*.md
*.json
*.lock
*.yml
*.yaml
Dockerfile
Dockerfile.*
.eslintrc
.gitignore
.prettierignore
*.html
/examples
/docs
jest.config.ts

**/.git
**/.idea
**/.svn
**/.hg
**/node_modules
**/dist